@charset "UTF-8";
/*Variables*/
* > html {
  padding: 0%;
  margin: 0%; }

* > body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f4f4; }

#header {
  width: 100%;
  border: none;
  background-color: #C70039; }

.nav_menu {
  border: none; }

.nav_menu:hover {
  background-color: #a00531; }

.banner {
  border: none;
  width: 100%;
  height: 600px; }

.carousel-inner {
  height: 600px; }

#carouselExampleCaptions > * > div {
  height: 600px; }

.menu {
  border: none;
  height: 70px;
  display: flex;
  justify-content: flex-end; }

.lista {
  border: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 48%;
  height: 70px; }

.menu > .lista > li {
  padding: 20px;
  height: 70px; }

.menu > .lista > li > a {
  color: aliceblue;
  border: none; }

.menu > .lista2 > li > a {
  color: aliceblue; }

.lista2 {
  border: none;
  display: flex;
  flex-direction: row;
  width: 16%;
  list-style-type: none;
  height: 70px;
  padding-top: 12px;
  padding-left: 10px; }

.menu > .lista2 > li {
  padding: 7px; }

#horario {
  color: #fd2146; }

/* títulos aquí */
.titulonin {
  font-weight: red;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
  color: #a00531; }

.tituloexb {
  font-weight: green;
  text-align: center;
  font-weight: bolder;
  color: #00b400; }

.titulopla {
  font-weight: blue;
  text-align: center;
  font-weight: bolder;
  color: blue; }

.tituloacc {
  font-weight: yellow;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
  color: #504f4f; }

.titulo_index {
  font-weight: yellow;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
  color: #504f4f; }

/* aquí empieza la hoja de estilo de la página index */
.gridindex, #gridnintendo, #gridxbox, #grid_playstation {
  display: grid;
  height: 100vh;
  grid-gap: 20px;
  justify-content: center;
  grid-template-areas: "cuad1 cuad2 cuad3" "cuad4 cuad5 cuad3" "cuad6 cuad7 cuad8";
  grid-template-columns: 250px 250px 600px;
  grid-template-rows: 250px 250px 250px; }

.gridindex > *, #gridnintendo > *, #gridxbox > *, #grid_playstation > * {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

/* Cuadros - articulos */
.nombr1 {
  background-color: #C70039;
  color: aliceblue;
  width: 250px;
  height: 30px;
  justify-content: center; }

.nov1 {
  border: none;
  text-align: center;
  background-color: #a00531;
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }

.descuento1 {
  background-color: none;
  width: 250px;
  height: 100%;
  flex-direction: row; }

.descestyle {
  background-color: #C70039;
  width: 30%;
  height: 23%;
  padding-top: 8px;
  color: azure; }

.videobor3 {
  width: 230px; }

.bor1 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: cuad1; }

.bor1:hover {
  transform: scale(1.05); }

.bor2 {
  background-image: url("../img/anm.jfif");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: cuad2; }

.bor2:hover {
  transform: scale(1.05); }

.index_iframe {
  grid-area: cuad3; }

.bor4 {
  background-image: url("../img/anm.jfif");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: cuad4; }

.bor4:hover {
  transform: scale(1.05); }

.bor5 {
  background-image: url("../img/anm.jfif");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: cuad5; }

.bor5:hover {
  transform: scale(1.05); }

.bor6 {
  background-image: url("../img/anm.jfif");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: cuad6; }

.bor6:hover {
  transform: scale(1.05); }

.bor7 {
  background-image: url("../img/anm.jfif");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: cuad7; }

.bor7:hover {
  transform: scale(1.05); }

.infomain {
  grid-area: cuad8; }

/* aquí empieza la hoja de estilo de la página nintendo */
#gridnintendo {
  border: none;
  grid-template-areas: "item1 item2 item3 item4 item5" "item1 item7 item8 item9 item10" "item1 item12 item13 item14 item15";
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px; }

#gridnintendo > * {
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center; }

#gridnintendo .elemento1 {
  grid-area: item1; }

.elemento2 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item2; }

.elemento2:hover {
  transform: scale(1.05); }

.elemento3 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item3; }

.elemento3:hover {
  transform: scale(1.05); }

.elemento4 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item4; }

.elemento4:hover {
  transform: scale(1.05); }

.elemento5 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item5; }

.elemento5:hover {
  transform: scale(1.05); }

.elemento6 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item6; }

.elemento6:hover {
  transform: scale(1.05); }

.elemento7 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item7; }

.elemento7:hover {
  transform: scale(1.05); }

.elemento8 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item8; }

.elemento8:hover {
  transform: scale(1.05); }

.elemento9 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item9; }

.elemento9:hover {
  transform: scale(1.05); }

.elemento10 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item10; }

.elemento10:hover {
  transform: scale(1.05); }

.elemento11 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item11; }

.elemento11:hover {
  transform: scale(1.05); }

.elemento12 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item12; }

.elemento12:hover {
  transform: scale(1.05); }

.elemento13 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item13; }

.elemento13:hover {
  transform: scale(1.05); }

.elemento14 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item14; }

.elemento14:hover {
  transform: scale(1.05); }

.elemento15 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: item15; }

.elemento15:hover {
  transform: scale(1.05); }

/* aquí empieza la hoja de estilo de la página xbox */
.nombrex {
  background-color: #01cf01;
  color: aliceblue;
  width: 250px;
  height: 30px;
  justify-content: center; }

.novex {
  border: none;
  text-align: center;
  background-color: #00b400;
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }

.descuentoex {
  background-color: none;
  width: 250px;
  height: 100%;
  flex-direction: row; }

.descestylex {
  background-color: #01cf01;
  width: 30%;
  height: 23%;
  padding-top: 8px;
  color: azure; }

#gridxbox {
  grid-template-areas: "i1 i2 i3 i4 i5" "i1 i6 i7 i8 i9" "i1 i10 i11 i12 i13";
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px; }

#gridxbox > * {
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center; }

#gridxbox .x1 {
  grid-area: i1; }

.x2 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i2; }

.x2:hover {
  transform: scale(1.05); }

.x3 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i3; }

.x3:hover {
  transform: scale(1.05); }

.x4 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i4; }

.x4:hover {
  transform: scale(1.05); }

.x5 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i5; }

.x5:hover {
  transform: scale(1.05); }

.x6 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i6; }

.x6:hover {
  transform: scale(1.05); }

.x7 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i7; }

.x7:hover {
  transform: scale(1.05); }

.x8 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i8; }

.x8:hover {
  transform: scale(1.05); }

.x9 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i9; }

.x9:hover {
  transform: scale(1.05); }

.x10 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i10; }

.x10:hover {
  transform: scale(1.05); }

.x11 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i11; }

.x11:hover {
  transform: scale(1.05); }

.x12 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i12; }

.x12:hover {
  transform: scale(1.05); }

.x13 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i13; }

.x13:hover {
  transform: scale(1.05); }

.x14 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i14; }

.x14:hover {
  transform: scale(1.05); }

.x15 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i15; }

.x15:hover {
  transform: scale(1.05); }

/* aquí empieza la hoja de estilo de la página Play */
.precio--numero {
  background-color: #0010f1;
  color: aliceblue;
  width: 250px;
  height: 30px;
  justify-content: center; }

.ps_nombre {
  border: none;
  text-align: center;
  background-color: #010375;
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }

.ps_descuento {
  background-color: none;
  width: 250px;
  height: 100%;
  flex-direction: row; }

.descuento--porcentaje {
  background-color: #0010f1;
  width: 30%;
  height: 23%;
  padding-top: 8px;
  color: azure; }

#grid_playstation {
  grid-template-areas: "i1 i2 i3 i4 i5" "i1 i6 i7 i8 i9" "i1 i10 i11 i12 i13";
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px; }

#grid_playstation > * {
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center; }

#grid_playstation .playstation_casilla-1 {
  grid-area: i1; }

.playstation_casilla-2 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i2; }

.playstation_casilla-2:hover {
  transform: scale(1.05); }

.playstation_casilla-3 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i3; }

.playstation_casilla-3:hover {
  transform: scale(1.05); }

.playstation_casilla-4 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i4; }

.playstation_casilla-4:hover {
  transform: scale(1.05); }

.playstation_casilla-5 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i5; }

.playstation_casilla-5:hover {
  transform: scale(1.05); }

.playstation_casilla-6 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i6; }

.playstation_casilla-6:hover {
  transform: scale(1.05); }

.playstation_casilla-7 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i7; }

.playstation_casilla-7:hover {
  transform: scale(1.05); }

.playstation_casilla-8 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i8; }

.playstation_casilla-8:hover {
  transform: scale(1.05); }

.playstation_casilla-9 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i9; }

.playstation_casilla-9:hover {
  transform: scale(1.05); }

.playstation_casilla-10 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i10; }

.playstation_casilla-10:hover {
  transform: scale(1.05); }

.playstation_casilla-11 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i11; }

.playstation_casilla-11:hover {
  transform: scale(1.05); }

.playstation_casilla-12 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i12; }

.playstation_casilla-12:hover {
  transform: scale(1.05); }

.playstation_casilla-13 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i13; }

.playstation_casilla-13:hover {
  transform: scale(1.05); }

.playstation_casilla-14 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i14; }

.playstation_casilla-14:hover {
  transform: scale(1.05); }

.playstation_casilla-15 {
  background-image: url("../img/hk.jpg");
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10%;
  grid-area: i15; }

.playstation_casilla-15:hover {
  transform: scale(1.05); }

/* aquí empieza la hoja de estilo de la página Accesorios */
#gridacce {
  border: 2px solid black;
  width: 100%;
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas: "b1 b2 b3 b4 b5" "b1 b6 b7 b8 b9" "b1 b10 b11 b12 b13";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr; }

#gridacce > * {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center; }

#gridacce .g1 {
  grid-area: b1; }

.g2 {
  grid-area: b2; }

.g3 {
  grid-area: b3; }

.g4 {
  grid-area: b4; }

.g5 {
  grid-area: b5; }

.g6 {
  grid-area: b6; }

.g7 {
  grid-area: b7; }

.g8 {
  grid-area: b8; }

.g9 {
  grid-area: b9; }

.g10 {
  grid-area: b10; }

.g11 {
  grid-area: b11; }

.g12 {
  grid-area: b12; }

.g13 {
  grid-area: b13; }

.g14 {
  grid-area: b14; }

.g15 {
  grid-area: b15; }

footer {
  height: 600px;
  width: 100%;
  border: none;
  background-color: #a00531; }

footer > * > section {
  border: none;
  width: 32%;
  height: 470px;
  margin-top: 50px;
  color: aliceblue; }

/* aquí empieza el footer */
.stylef {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px; }

.mapa {
  width: 100%;
  height: 65%; }

.direccion {
  text-align: center; }

.col-12 {
  margin-left: 75px; }

.contacto {
  text-align: center; }

.mb-3 {
  text-align: center; }

.mapafo {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .mapafo .mapage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    text-align: right; }
  .mapafo .lilmap {
    list-style-type: none; }
    .mapafo .lilmap a {
      color: #ffffff;
      text-decoration: none; }
  .mapafo a:hover {
    text-decoration: underline;
    color: #ffae00; }

.direccion {
  padding-bottom: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* a quí podrá encontrar el estilo de las páginas de cada articulo */
.nintendo_content {
  border: none;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 100px; }
  .nintendo_content .nintendo_contetent_galeria {
    padding-top: 70px;
    border: none;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    background-color: #ffffff; }
  .nintendo_content .nintendo_content_descripcion {
    border: none;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    justify-content: center; }
    .nintendo_content .nintendo_content_descripcion .nintendo_descripcion {
      border: none;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #ffffff;
      padding: 40px; }
      .nintendo_content .nintendo_content_descripcion .nintendo_descripcion .content--titulo {
        font-weight: bold;
        color: dimgray; }
      .nintendo_content .nintendo_content_descripcion .nintendo_descripcion .content--parrafo {
        text-align: justify;
        font-size: 14px; }

/*media queries */
@media (max-width: 400px) {
  body {
    background-color: #ffffff; }
  .navbar-toggler {
    border: 3px solid #a00531; }
  .container-fluid {
    background-color: #ffae00; }
  .navbar-toggler-icon {
    border: none; }
  #header {
    width: 100%;
    background-color: #ffae00;
    display: none; }
  .nav_menu {
    border: none; }
  .nav_menu:hover {
    background-color: #a00531; }
  .banner {
    border: none;
    width: 100%;
    height: 200px; }
  .carousel-inner {
    height: 200px; }
  #carouselExampleCaptions > * > div {
    height: 200px; }
  .menu {
    border: none;
    height: 70px; }
  .lista {
    border: none;
    display: none;
    flex-direction: column;
    list-style-type: none;
    width: 48%;
    height: 70px; }
  .menu > .lista > li {
    padding: 20px;
    height: 70px; }
  .menu > .lista > li > a {
    color: aliceblue;
    border: none; }
  .menu > .lista2 > li > a {
    color: aliceblue; }
  .lista2 {
    border: none;
    display: flex;
    flex-direction: row;
    width: 16%;
    list-style-type: none;
    height: 70px;
    padding-top: 12px;
    padding-left: 10px;
    display: none; }
  .menu > .lista2 > li {
    padding: 7px; }
  .titulo_index {
    color: #C70039; }
  .gridindex, #gridnintendo, #gridxbox, #grid_playstation {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 50px; }
    .gridindex .index_iframe, #gridnintendo .index_iframe, #gridxbox .index_iframe, #grid_playstation .index_iframe {
      width: 70%; }
      .gridindex .index_iframe .pipi, #gridnintendo .index_iframe .pipi, #gridxbox .index_iframe .pipi, #grid_playstation .index_iframe .pipi {
        height: 300px; }
    .gridindex .bor1, #gridnintendo .bor1, #gridxbox .bor1, #grid_playstation .bor1 {
      background-image: url("../img/hk.jpg");
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10%;
      height: 250px; }
    .gridindex .bor1:hover, #gridnintendo .bor1:hover, #gridxbox .bor1:hover, #grid_playstation .bor1:hover {
      transform: scale(1.05); }
    .gridindex .bor2, #gridnintendo .bor2, #gridxbox .bor2, #grid_playstation .bor2 {
      background-image: url("../img/hk.jpg");
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10%;
      height: 250px; }
    .gridindex .bor2:hover, #gridnintendo .bor2:hover, #gridxbox .bor2:hover, #grid_playstation .bor2:hover {
      transform: scale(1.05); }
    .gridindex .bor4, #gridnintendo .bor4, #gridxbox .bor4, #grid_playstation .bor4 {
      background-image: url("../img/anm.jfif");
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10%;
      height: 250px; }
    .gridindex .bor4:hover, #gridnintendo .bor4:hover, #gridxbox .bor4:hover, #grid_playstation .bor4:hover {
      transform: scale(1.05); }
    .gridindex .bor5, #gridnintendo .bor5, #gridxbox .bor5, #grid_playstation .bor5 {
      display: none; }
    .gridindex .bor5:hover, #gridnintendo .bor5:hover, #gridxbox .bor5:hover, #grid_playstation .bor5:hover {
      transform: scale(1.05); }
    .gridindex .bor6, #gridnintendo .bor6, #gridxbox .bor6, #grid_playstation .bor6 {
      background-image: url("../img/anm.jfif");
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10%;
      height: 250px;
      display: none; }
    .gridindex .bor6:hover, #gridnintendo .bor6:hover, #gridxbox .bor6:hover, #grid_playstation .bor6:hover {
      transform: scale(1.05); }
    .gridindex .bor7, #gridnintendo .bor7, #gridxbox .bor7, #grid_playstation .bor7 {
      background-image: url("../img/anm.jfif");
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 10%;
      height: 250px;
      display: none; }
    .gridindex .bor7:hover, #gridnintendo .bor7:hover, #gridxbox .bor7:hover, #grid_playstation .bor7:hover {
      transform: scale(1.05); }
  /* Cuadros - articulos */
  .nombr1 {
    background-color: #C70039;
    color: aliceblue;
    width: 250px;
    height: 30px;
    justify-content: center; }
  .nov1 {
    border: none;
    text-align: center;
    background-color: #9e0530;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
  .descuento1 {
    background-color: none;
    width: 250px;
    height: 100%;
    flex-direction: row; }
  .descestyle {
    background-color: #C70039;
    width: 30%;
    height: 23%;
    padding-top: 8px;
    color: azure; }
  .videobor3 {
    width: 70%; } }
